<html>
  <head>
    <title>Portfolio Manager</title>
    <link rel="stylesheet" type="text/css" href="./portfolio.css" />
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="portfolio.js"></script>
  </head>
  <body>

<TMPL_INCLUDE NAME='toolbar.tmpl'>
	<div>
	<TMPL_UNLESS NAME='RUN'>
		<h3>Create new Portfolio</h3>
		<form name='newPortfolioForm' action='portfolio.pl'>
			<input type='text' name='newpfname' placeholder='Portfolio Name' />
			<input type='text' name='initcash' placeholder='Initial Cash Deposit' />
			<input type='hidden' name='run' value='1' />
			<input type='hidden' name='act' value='createNewPortfolio' />
			<input type='submit' name='Create!' />
		</form>
	<TMPL_ELSE>
		<TMPL_IF NAME='SUCCESS'>
			<h3> Your portfolio has been created! </h3>
		<TMPL_ELSE>
			<h3> Sorry, that portfolio name exists already under your username.</h3>
			<p> Please pick a different name and try again. </p>
		</TMPL_IF>
	</TMPL_UNLESS>
	</div>
</body>
</html>
