<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="./portfolio.css" />
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script type="text/javascript" src="portfolio.js"></script>
</head>
<body>
<TMPL_INCLUDE NAME='toolbar.tmpl'>

	<!-- Page content below this point -->

	<div class="jumbotron">
		<h1>Portfolio Manager</h1>
		<div class="container">
			<h2>Introduction</h2>
			<p>This is where we will describe the overview of our app and such. Lorem Ipsum</p>
		</div>	
	<hr>
		<div class="container">
			<a href='portfolio.pl?act=tradingStrategy'><h2>Trading Strategies</h2></a>
			<p>Click here to read more about our trading strategies, select which ones you like, and see predicted portfolio outcome under your current strategies!</p>
		</div>
	<hr>
		<div class="container">
			<h2>Web Information</h2>
			<p>This will either include all of our SVG/PNG of sitemaps and mockups, or a link to the page that will</p>
		</div>
	</div>
	
	<!-- bogus form for logout action -->
	<form id='logoutForm' action='portfolio.pl'><input type='hidden' name='act' value='logout' /></form>
</body>
</html>
