<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="./portfolio.css" />
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="portfolio.js"></script>
  </head>
  <body>
<TMPL_INCLUDE NAME='toolbar.tmpl'>

     <div>
       <h1> Portfolio Management and Performance </h1>
       <h3> Total Cash in Acct.: 40k$ </h3>
       <form action='portfolio.pl' name='cashAcctMovements'>
	 <button class='btn' id='depositBtn'>Deposit</button>
	 <button class='btn' id='withdrawBtn'>Withdraw</button>
	 <input type='text'>Amt. ($)</input>
       </form>
     </div>
     <!-- bogus form for logout action -->
     <form id='logoutForm' action='portfolio.pl'><input type='hidden' name='act' value='logout' /></form>
     
   </div>
   </body>
</html>
