<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="./portfolio.css" />
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="portfolio.js"></script>
  </head>
  <body>
    <TMPL_INCLUDE NAME='toolbar.tmpl'>
     <div>
       <h1> <i><TMPL_VAR NAME='CUR_PORTFOLIO'></i>: Management and Performance </h1>
       <div class="row">
	 <form action='portfolio.pl' name='cashAcctMovements' id='cashAcctMovements'>
	 <div class="input-group col-md-4" id="manageCashAcctDiv">
	   <div class="input-group-btn">
		<button class='btn btn-default' id='depositBtn'>Deposit</button>
		<button class='btn btn-default' id='withdrawBtn'>Withdraw</button>
	   </div>
	   <input type="text" class="form-control" />
	   <span class="input-group-addon">$</span>
	 </div>
	 <div id="moneyInAcct" class="col-md-4">
	    <h6>Total Cash in Acct.: <TMPL_VAR NAME='CASH_IN_ACCT'>$</h6>
	 </div>
	 <div class='col-md-4'></div>
		<input type='hidden' name='act' value='depositOrWithdrawCash' />
		<input type='hidden' name='pfname' value=<TMPL_VAR NAME='CUR_PORTFOLIO'> />
       </form>
       </div>
       <div class="row">
	 <div class='panel panel-default' id='overviewStatsPanel'>
	   <p>Content here</p>
	 </div>
       </div>
     </div>
     <!-- bogus form for logout action -->
     <form id='logoutForm' action='portfolio.pl'><input type='hidden' name='act' value='logout' /></form>
     
   </div>
   </body>
</html>
