div {
	float:top;
}

#navigation-container {
	float:right;
}

#logoutBtn {
	margin-left:30px;
}

#login-container {
}

body {
	padding-top:70px;
}

#manageCashAcctDiv {
    padding-left:20px;
    width:50%;
}

#overviewStatsPanel {
    margin:20px;
    padding:8px;
}

#moneyInAcct {
    padding-left:20px;
}

#moneyInAcct h6 {
	float:right;
	padding-right:50px;
}

#matrixOfStocks {
	font-family:courier;
}
