<html>
	<head>
		<title>Test</title>
		<link rel="stylesheet" type="text/css" href="./portfolio.css" />
		<link href="css/bootstrap.css" rel="stylesheet" media="screen">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script type="text/javascript" src="portfolio.js"></script>
	</head>
	<body>
		<TMPL_INCLUDE NAME='toolbar.tmpl'>
		<div>
			<TMPL_IF NAME='SUCCESS'>
				<h3>You've been registered successfully.</h3>
			<TMPL_ELSE>
				<h3>Sorry, that username already exists. Please re-register. </h3>
			</TMPL_IF>
		</div>
	</body>
</html>
