<html>
<head>
  <title>Portfolio Manager</title>
  <link rel="stylesheet" type="text/css" href="./portfolio.css" />
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script type="text/javascript" src="portfolio.js"></script>
  <script type="text/javascript" src="plotting.js"></script>
  <script type="text/javascript" src="js/Chart.js"></script>
</head>
<body>
	<div class='hide' id='cowmoo'><TMPL_VAR NAME='TABLEBLOB'></div>
  <TMPL_INCLUDE NAME='toolbar.tmpl'>

  <!-- Page content below this point -->
  <div class="row">
    <div class="container">
      <h1> <b><TMPL_VAR NAME='CUR_SS'></b>: Performance </h1>
      <!-- daily info -->
      <TMPL_INCLUDE NAME='add_stock_widget.tmpl'>
    </div>
  </div>


  <div class="row">
    <!-- time interval selector -->
    <div class="row">
      <div class="jumbotron col-md-6">
        <!-- Stock graph of past performance -->
        <h3>Performance of Stock</h3>
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
      <div class="jumbotron col-md-6">
        <form action='portfolio.pl' id='updatePredictionRange'>                              

          <div class="input-group col-md-6">
            <h3>Enter how many days to predict</h3>
            <input type='text' id ='prediction' name='prediction'>

            <button class='btn btn-default' id='submit'>Predict</button>
          </div>
          <div class="input-group col-md-6">
            <h3> Trading Strategy Prediction</h3>
            ROI: <TMPL_VAR NAME='ROI'><br>
            ROI_ANNUAL: <TMPL_VAR NAME='ROI_ANNUAL'><br>
            ROI_AT: <TMPL_VAR NAME='ROI_AT'><br>
            ROI_AT_ANNUAL: <TMPL_VAR NAME='ROI_AT_ANNUAL'><br>


            <form action='portfolio.pl'>
              <input type='text' name='initialAmnt' placeholder='Initial Investment' />
              <input type='text' name='tradeCost' placeholder='Trade Cost' />
              <input type='hidden' name='act' value='stockHistory' />
              <input type='hidden' name='symbol' value="<TMPL_VAR NAME='CUR_SS'>" /><br>
              <input type='submit' value='Calculate!' />
            </form>
          </div>
        </form>
        <!-- Stock graph of predicted future performance-->

      </div>
    </div>

  </div>

  <!-- bogus form for logout action -->
  <form id='logoutForm' action='portfolio.pl'><input type='hidden' name='act' value='logout' /></form>
</body>
</html>
