<html>
<head>
        <title>Portfolio Manager</title>
        <link rel="stylesheet" type="text/css" href="./portfolio.css" />
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script type="text/javascript" src="portfolio.js"></script>
        <script type="text/javascript" src="plotting.js"></script>
        <script type="text/javascript" src="js/Chart.js"></script>
</head>
<body>
	<div class='hide' id='cowmoo'><TMPL_VAR NAME='TABLEBLOB'></div>
<TMPL_INCLUDE NAME='toolbar.tmpl'>

        <!-- Page content below this point -->
      <div class="row">
                      <div class="container">
                        <h1> <b><TMPL_VAR NAME='CUR_SS'></b>: Performance </h1>
          <!-- daily info -->
        			<TMPL_INCLUDE NAME='add_stock_widget.tmpl'>
                  </div>
       </div>
       

       <div class="row">
<!-- time interval selector -->
                <div class="row">
                        <div class="jumbotron col-md-2">
                          <!-- Stock graph of past performance -->
                          <canvas id="myChart" width="400" height="400"></canvas>
                        </div>
                        <div class="jumbotron col-md-2">
                                <form action='portfolio.pl' id='updatePredictionRange'>                              
                                
                                <div class="input-group col-md-4">
                                Enter how many days to predict<input type='text' id ='prediction' name='prediction'>

                                <button class='btn btn-default' id='submit'>Predict</button>
                                </div>
                                </form>
                                 <!-- Stock graph of predicted future performance-->

                        </div>
                </div>


                <div class="row">
        			<div class='col-md-8' style='padding-left:80px;'>
        				ROI: <TMPL_VAR NAME='ROI'>
        				ROI_ANNUAL: <TMPL_VAR NAME='ROI_ANNUAL'>
        				ROI_AT: <TMPL_VAR NAME='ROI_AT'>
        				ROI_AT_ANNUAL: <TMPL_VAR NAME='ROI_AT_ANNUAL'>
        					

        				<form action='portfolio.pl'>
        					<input type='text' name='initialAmnt' placeholder='Initial Investment' />
        					<input type='text' name='tradeCost' placeholder='Trade Cost' />
        					<input type='hidden' name='act' value='stockHistory' />
        					<input type='hidden' name='symbol' value="<TMPL_VAR NAME='CUR_SS'>" />
        					<input type='submit' value='Calculate!' />
        				</form>
        				</div>
                </div>
         </div>
        
        <!-- bogus form for logout action -->
        <form id='logoutForm' action='portfolio.pl'><input type='hidden' name='act' value='logout' /></form>
</body>
</html>
