<html>
  <head>
    <title>Portfolio Manager</title>
    <link rel="stylesheet" type="text/css" href="./portfolio.css" />
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="portfolio.js"></script>
  </head>
  <body>

<TMPL_INCLUDE NAME='toolbar.tmpl'>
	<div><h1>Stocks in <i><TMPL_VAR NAME='CUR_PORTFOLIO'></i></h1></div>
	<div class="row">
		<div class="col-md-8">
			<TMPL_INCLUDE NAME='add_stock_widget.tmpl'>
		</div>
	</div>
	<div class='row'>
		<div class="input-group col-md-4">
			<div class="input-group-btn">
				<button class='btn btn-default' id='buyStockBtn'>Buy</button>
				<button class='btn btn-default' id='sellStockBtn'>Sell</button>
			</div>
			<input type="text" class="form-control" placeholder="Stock Symbol" />
		</div>
		<div class="col-md-4 input-group">
			<input type="text" class="form-control" placeholder="# Of Stocks" />
			
		</div>
	 </div>
	 <div class='row'><div class="col-md-8">
	<a href="portfolio.pl?act=stockStats&pfname=<TMPL_VAR NAME='CUR_PORTFOLIO'>">View Portfolio Statistics</a>

		 <h6> Click a table row for detailed info. </h6>
		<table class='stockInfoTable'>
			<tr><th>Time Stamp</th><th>Symbol</th><th>Open</th><th>High</th><th>Low</th><th>Close</th><th>Volume</th></tr>
			<TMPL_LOOP NAME='STOCK_INFO'>
						<tr class='headerRow'><td><TMPL_VAR NAME='TIMESTAMP'></td><td><TMPL_VAR NAME='SYMBOL'></td><td><TMPL_VAR NAME='OPENVAL'></td><td><TMPL_VAR NAME='HIGH'></td><td><TMPL_VAR NAME='LOW'></td><td><TMPL_VAR NAME='CLOSEVAL'></td><td><TMPL_VAR NAME='VOLUME'></td></tr>
						<tr class='detailRow hide'><td colspan=7><a href="portfolio.pl?act=stockHistory&pfname=<TMPL_VAR NAME='CUR_PORTFOLIO'>&symbol=<TMPL_VAR NAME='SYMBOL'>">Stock History (click me)</a></td></tr>
			</TMPL_LOOP>
		</table>
	</div></div>
	</body>
</html>
