<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="./portfolio.css" />
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="portfolio.js"></script>
  </head>
  <body>

<TMPL_INCLUDE NAME='toolbar.tmpl'>
	<div><h1>Stocks in <i><TMPL_VAR NAME='CUR_PORTFOLIO'></i></h1></div>
	<table>
		<tr><th>Column</th><th>headers</th><th>here</th></tr>
		<tr><td>column</td><td>values</td><td>here</td></tr>
		<tr><td>column</td><td>values</td><td>here</td></tr>
		<tr><td>column</td><td>values</td><td>here</td></tr>
	</table>
	</body>
</html>
