<html>
<head>
        <title>Storyboards</title>
        <link rel="stylesheet" type="text/css" href="./portfolio.css" />
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script type="text/javascript" src="portfolio.js"></script>
</head>
<body>
<TMPL_INCLUDE NAME='toolbar.tmpl'>

        <!-- Page content below this point -->

        <div class="jumbotron">
                <h1>Storyboard</h1>
                <div class="container">
                	<embed src="http://murphy.wot.eecs.northwestern.edu/~aes426/EECS339_Project_2/webinfo/storyboard.svg" type="image/svg+xml" />
                </div>
                <div class="container">
                      <img src="/webinfo/siteMap.svg">
                </div>
                <div class="container">
                      <img src="/webinfo/Stats.png">
                </div>
                <div class="container">
                      <img src="/webinfo/Cash.png">
                </div>
                <div class="container">
                      <img src="/webinfo/Home Page.png">
                </div>
                <div class="container">
                      <img src="/webinfo/Stocks.png">
                </div>
                

        </div>

        <!-- bogus form for logout action -->
        <form id='logoutForm' action='portfolio.pl'><input type='hidden' name='act' value='logout' /></form>
</body>
</html>
