<html>
<head>
        <title>Portfolio Manager</title>
        <link rel="stylesheet" type="text/css" href="./portfolio.css" />
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script type="text/javascript" src="portfolio.js"></script>
</head>
<body>
<TMPL_INCLUDE NAME='toolbar.tmpl'>

        <!-- Page content below this point -->

        <div class="jumbotron">
                <h1>Trading Strategies</h1>
                <div class="container">
                        <h2>Shannon Ratchet</h2>
                        <p>The Shannon Ratchet trading strategy keeps exactly the same market value in the stock and the cash, buying and selling stocks to do so. Claude Shannon proposed this strategy in response to the "efficient market hypothesis", which argues that since markets already incorporate all information into prices, the prices must be efficient and thus the price of a stock is really a random walk. Ratchet converts volatility in the walks into gains, utilizing unpredictability.</p>
                        <p> To select this trading strategy, make sure you are logged in, and then in the toolbar at the top of the page, click the "trading strategy" drop-down, and verify that "Shannon-Ratchet" is checked on the list.</p>
                </div>
                <div class="container">
                        <h2>Trading Strategy 2</h2>
                        <p>here is where we'll describe our next one!</p>
                </div>
        </div>        
        
        <!-- bogus form for logout action -->
        <form id='logoutForm' action='portfolio.pl'><input type='hidden' name='act' value='logout' /></form>
</body>
</html>
